<template>
    <footer class="footer">
        <div class="container">
            <hr>
            <div class="row align-items-center justify-content-md-between footer-space">
                <div class="col-md-6">
                    <div class="copyright">
                        &copy; {{year}} Agit Amrullah
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-footer justify-content-end">
                        <li class="nav-item">
                            All rights reserved | <small>Theme by <a href="https://www.creative-tim.com" target="_blank" rel="noopener">Creative Tim</a> & <a href="https://www.binarcode.com" target="_blank" rel="noopener">Binar Code</a></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
export default {
  name: 'app-footer',
  data() {
    return {
      year: new Date().getFullYear()
    }
  }
};
</script>
<style>
.footer-space {
    margin-bottom: 0px;
}
</style>
