<template>
  <header class="header-global">
    <base-nav class="navbar-main" transparent type effect="light" expand>
      <nuxt-link slot="brand" class="navbar-brand mr-lg-5" to="/argon-demo/">
        <img src="/argon/img/brand/white.png" alt="logo" />
      </nuxt-link>

      <div class="row" slot="content-header" slot-scope="{closeMenu}">
        <div class="col-6 collapse-brand">
          <nuxt-link to="/argon-demo/">
            <img src="/argon/img/brand/blue.png" />
          </nuxt-link>
        </div>
        <div class="col-6 collapse-close">
          <close-button @click="closeMenu"></close-button>
        </div>
      </div>

      <ul class="navbar-nav align-items-lg-center ml-lg-auto" v-if="this.$auth.loggedIn">
        <li class="nav-header-top">
          Hi, {{ this.$auth.user.result.data.name }}
          <a slot="title" role="button" @click="logout">
            <span class="nav-link-inner--text">Logout</span>
          </a>
        </li>
      </ul>
    </base-nav>
  </header>
</template>
<script>
import BaseNav from '~/components/argon/BaseNav'
import BaseDropdown from '~/components/argon/BaseDropdown'
import CloseButton from '~/components/argon/CloseButton'
import { mapMutations, mapActions } from 'vuex'

export default {
  components: {
    BaseNav,
    CloseButton,
    BaseDropdown
  },
  data() {
    return {
      searchText: ''
    }
  },
  methods: {
    ...mapMutations(['SET_IS_AUTH']),
    async logout() {
      await this.$auth.logout({
        data: {
          device_id: this.device_id
        }
      })
      // this.$auth.strategies.local.options.endpoints.user.headers['Authorization'] = null
      this.$axios.setHeader('Authorization', null)
      this.$toast.show('Successfully logged out')
    },
    async searchThis(){
      this.$store.commit('setheaderSearchText', this.searchText)
    }
  }
}
</script>
<style>
.navbar-brand img {
  height: 40px !important;
}
.search-section {
  width: 70%;
  margin-top: 5px;
}
.nav-header-top {
  color: #fff;
}
</style>
