<template>
    <div>
        <b-button class="btn-sm w-100" v-b-modal="'modal-'+this.fuuid" @click='getComment()'><i class="fa fa-comment" aria-hidden="true"></i> Comments</b-button>

        <b-modal :id="`modal-`+this.fuuid" :title="`Comments for : `+this.modaltitle " size="md" hide-footer>
            <div class="comment-col">
                <div class="commentsection" v-for="(com,index) in listcomment" :key="index">
                        <div :class="getUser() === com.user.name ? `right` : `left`">
                            <p class="header-comments"><b>{{ getUser() === com.user.name ? `You` : com.user.name }}</b> {{ com.created_at }}</p>
                            <p>{{ com.com_comment }}</p>
                        </div>
                </div>
            </div>
            <div class="form-group comment-form">
              <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Enter comments.." v-model="commentform" v-on:keyup.enter="onSave()">
              <small id="helpId" class="form-text text-muted">Enter to send</small>
            </div>
        </b-modal>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
    data() {
        return {
            commentform: '', 
            cuser: '',
            listcomment: []
        }
    },
    props: ['fuuid','modaltitle'],
    // computed: {
    //     ...mapGetters({
    //         GET_LIST: 'comments/GET_LIST',
    //     }),
    //     ...mapState({
    //         stateListComment: state => {
    //             return state.comments.listComments;
    //         }
    //     })
    // },
    // watch: {
    //     GET_LIST(param) {
    //         this.listcomment = []
    //         this.$nextTick(function() {
    //             this.listcomment = param
    //             this.event()
    //         })
    //     }
    // },
    // async fetch({ store }) {
    //     await store.dispatch('comments/get')
    // },
    // async mounted(){
    //     this.listcomment = await this.stateListComment
    //     // this.GET_LIST
    //     console.log("ola" + this.listcomment)
    // },
    methods: {
        // ...mapActions({
        //     set: 'comments/ACTION_SET'
        // }),
        getComment(){
            this.clearForm()
            const param = {
                _uuid: this.fuuid,
            }
            const token = this.$auth.$storage._state['_token.local']
            this.$axios.setHeader('Content-Type', 'application/json')
            this.$axios.setHeader('Authorization', token)
            this.$axios
                .post(`/comment/get`, param)
                .then((res) => {
                    // console.log(res.data.result.data)
                    this.listcomment = res.data.result.data
                })
                .catch((e) => console.log(e))
        },
        clearForm() {
            this.commentform = ''
        },
        getUser() {
            return this.$auth.user.result.data.name
        },
        onSave() {
            const param = {
                _comment: this.commentform,
                _uuid: this.fuuid,
            }
            const token = this.$auth.$storage._state['_token.local']
            this.$axios.setHeader('Content-Type', 'application/json')
            this.$axios.setHeader('Authorization', token)
            this.$axios
                .post(`/comment/add`, param)
                .then(res => {
                   this.listcomment = []
                   this.listcomment = res.data.result.data
                   this.clearForm()
                })
                .catch((e) => console.log(e))
        }
    }
}
</script>

<style lang="scss" scoped>
.comment-col {
    height: calc(100vh - 45vh);
    overflow-y: auto;
    padding: 0px 20px;
}
.commentsection {
    padding: 5px 0px;
    
    p {
        margin-bottom: 0px;
    }
    .header-comments {
        font-size: 12px;
        margin-bottom: -4px;
    }
    .right {
        text-align: right;
    }
    .left {
        text-align: left;
    }
}
.comment-form {
    margin: 20px 0px 0px;
    border-top: solid 2px #ddd;
    padding: 20px;
}
</style>