<template>
    <div id="wrapper" class="d-flex flex-column">
        <header class="header-global">
        </header>
        <main class="flex-fill position-relative">
           <nuxt />
        </main>
        <footer class="footer">
        </footer>
    </div>
</template>

<script>

</script>

<style>
body, #wrapper {
   min-height:100vh;
}
</style>
