<template>
    <div id="wrapper" class="d-flex flex-column">
        <header class="header-global">
            <section class="section section-shaped section-lg section-shaped-custom section-lg-custom my-0">
                <div class="shape shape-style-1 bg-gradient-default">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </section>
            <app-header></app-header>
        </header>
        <main class="mainpages flex-fill">
            <nuxt class="container container-lg-custom" />
        </main>
        <footer class="footer">
            <app-footer></app-footer>
        </footer>
    </div>
</template>

<script>
import AppHeader from "~/components/layout/AppHeader";
import AppFooter from "~/components/layout/AppFooter";

export default {
  components: {
    AppHeader,
    AppFooter
  }
};
</script>

<style>
body, #wrapper {
   min-height:100vh;
}
.section-lg-custom {
    padding-top: 0rem;
    padding-bottom: 6rem;
}
.section-shaped-custom {
    position: relative;
}
.mainpages {
    background: #f4f5f7;
    padding: 2rem 0;
}
</style>
