<template>
  <div>

    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary font-weight-light mb-2">Documents</h3>

        <div class="row">

          <div class="col-lg-12">
            <h4 class="mb-0 font-weight-light">Upload your document</h4>
          </div>

          <div class="col-lg-12">
            <dropzone
              id="dropzoneid"
              ref="elDropZone"
              v-on:vdropzone-sending="sendingEvent"
              :options="options"
              :destroyDropzone="true"
            ></dropzone>
          </div>

          <div class="col-lg-12">
            <h4 class="mb-0 font-weight-light">Search for Document</h4>
          </div>

          <div class="col-lg-12 form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search documents content, name, etc.."
              aria-describedby="searchId"
              v-model="searchQuery"
              @input="setToState"
            />
          </div>

          <div class="col-lg-12">
            <h4 class="mb-0 font-weight-light">Document list</h4>
          </div>

          <div class="col-lg-8 form-group">
            <input
              type="text"
              name
              id
              class="form-control"
              placeholder="Search documents name.."
              aria-describedby="helpId"
              v-model="form.searchInput"
            />
          </div>

          <div class="col-lg-2">
            <div class="form-group">
              <select class="form-control" v-model="form.categories">
                <option value="">All Categories</option>
                <option value="Contract">Contract</option>
                <option value="Receipt">Receipt</option>
                <option value="Others">Others</option>
              </select>
            </div>
          </div>

          <div class="col-lg-2">
            <div class="form-group">
              <select class="form-control" v-model="form.status">
                <option value="">All Status</option>
                <option value="awaiting">Awaiting</option>
                <option value="approve">Approve</option>
                <option value="reject">Reject</option>
              </select>
            </div>
          </div>

          <!-- <div class="col-lg-2">
            <button type="button" name id class="btn btn-primary btn-md btn-block">Search</button>
          </div> -->
        </div>

        <div class="col-xl-12">
          <table class="table">
            <thead>
              <tr>
                <th>File</th>
                <th>Filetype</th>
                <th>Size</th>
                <th>User</th>
                <th>Approval Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="listDocuments == ''">
                <td colspan="5"><center>- there is no document was found -</center></td>
              </tr>
              <tr v-for="list in searching" :key="list.id">
                <td>
                  <fa :icon="['fa', 'file-pdf']" />
                  {{ list.file_origin_name }}
                  <br />
                  <p class="mb-0"><small>Categorise : {{ list.file_categorise }}</small></p>
                  <p><small>Created at : {{ list.created_at }}</small></p>
                  <div v-if="list.highlight" class="eshighlight">
                      <p class="mb-0"><span>Document Content :</span></p>
                      <span v-for="highlights in list.highlight" :key="highlights.index">
                          <span v-html="highlights"></span>
                      </span>
                  </div>
                </td>
                <td>
                  <div class="btn btn-success btn-sm btn-block">{{ list.file_extension }}</div>
                </td>
                <td>{{ (list.file_size / (1024*1024)).toFixed(3) }} MB</td>
                <td>
                  <span v-if="list.user">{{ list.user.name }}</span>
                  <small v-if="list.user">[{{ list.user.type }}]</small>
                </td>
                <td>
                  <div
                    class="btn btn-danger btn-sm btn-block"
                    v-if="list.file_status === 'awaiting'"
                  >{{ list.file_status }}</div>
                  <div class="btn btn-success btn-sm btn-block" v-else>{{ list.file_status }}</div>
                  <p>
                    <small>
                      <modalComment :fuuid="list.file_uuid" :modaltitle="list.file_origin_name" />
                    </small>
                  </p>
                </td>
                <td>
                  <button
                    @click="downloadFile(list.file_uuid, list.file_extension, list.file_origin_name)"
                    type="button"
                    class="btn btn-md btn-outline-dark"
                  >
                    <fa :icon="['fa', 'download']" />
                  </button>
                  <!-- <button type="button" class="btn btn-md btn-outline-dark">
                    <fa :icon="['fa', 'print']" />
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div></div>
      </div>
    </div>

    <b-modal
      id="modal-set-categories"
      title="Choose categories !*"
      size="md"
      no-close-on-esc
      hide-header-close
      no-close-on-backdrop
    >
      <p>{{ info.catpick }}</p>
      <b-form-group>
        <b-form-checkbox-group v-model="selectedCategories" stacked>
          <b-form-checkbox value="Contract">Contract</b-form-checkbox>
          <b-form-checkbox value="Receipt">Receipt</b-form-checkbox>
          <b-form-checkbox value="Others">Others</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>

      <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            variant="primary"
            size="md"
            class="float-right"
            @click="sendFile()"
          >
            Save
          </b-button>
          <b-button
            variant="default"
            size="md"
            class="float-right mr-3"
            @click="closeModal()"
          >
            Cancel
          </b-button>
        </div>
      </template>
    </b-modal>

    <div style="display: none;" :notif="this.notif"></div>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import Dropzone from 'nuxt-dropzone'
import modalComment from '@/components/modalComments'
import 'nuxt-dropzone/dropzone.css'

export default {
  layout: 'main',
  middleware: 'auth',
  components: {
    Dropzone,
    modalComment
  },
  data() {
    return {
      options: {
        url: '#',
        thumbnailWidth: 150,
        maxFilesize: 20,
      },
      listDocuments: [],
      selectedCategories: [],
      file: {
        file: '',
        xhr: '',
        formData: ''
      },
      searchQuery: '',
      form: {
        searchInput: '',
        categories: '',
        status: ''
      },
      info: {
        catpick: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      GET_LIST: 'documents/GET_LIST',
      getNotif: 'getNotif'
    }),
    ...mapState({
      stateListDocuments: state => {
        return state.documents.listDocuments;
      },
    }),
    searching() {
      // if (!this.form.searchInput) return this.listDocuments

      // const search = this.form.searchInput.toLowerCase()

      return this.listDocuments.filter((item) => {
        return item.file_origin_name.toLowerCase().includes(this.form.searchInput)
      }).filter((item) => {
        return item.file_categorise.includes(this.form.categories)
      }).filter((item) => {
        return item.file_status.includes(this.form.status)
      })
    },
    async notif() {
      if(this.$store.getters.getNotif){
        if(this.$store.getters.getNotif.length > 0){
          const notifLength = this.$store.getters.getNotif.length < 0 ? 0 : this.$store.getters.getNotif.length - 1
          const msgPush     = this.$store.getters.getNotif[notifLength]

          if(this.$auth.user.result.data && this.$auth.user.result.data.type === "admin"){
            this.makeToast()
            this.getList()
          }
        }
        return this.$store.getters.getNotif
      }
    }
  },
  watch: {
    GET_LIST(param) {
      this.listDocuments = []
      this.$nextTick(function() {
        this.listDocuments = param
        this.event()
      })
    }
  },
  async fetch({ store }) {
    await store.dispatch('documents/get')
  },
  async mounted() {
    this.listDocuments  = await this.stateListDocuments
  },
  methods: {
    ...mapActions({
      get: 'documents/get',
      ACTION_ADD: 'documents/ACTION_ADD',
      ACTION_SET: 'documents/ACTION_SET'
    }),
    getList() {
      const token = this.$auth.$storage._state['_token.local']
      this.$axios.setHeader('Content-Type', 'application/json')
      this.$axios.setHeader('Authorization', token)
      this.$axios.get(`/documents/getall`).then(res => {
        this.listDocuments = res.data.result.data
        this.makeToast(
          'Success get new documents, You can check the list..',
          'success'
        )
      })
    },
    sendingEvent(file, xhr, formData) {
      this.file.file      = ''
      this.file.xhr       = ''
      this.file.formData  = ''
      this.file.file      = file
      this.file.xhr       = xhr 
      this.file.formData  = formData

      this.$bvModal.show('modal-set-categories')
    },
    async sendFile(){
      if(this.selectedCategories == ''){
        this.info.catpick = "You must choose minimum one of categories !"
      } else {
        this.listDocuments = await this.stateListDocuments

        const sendData = new FormData();
        sendData.append("file", this.file.file);
        sendData.append("fcatagorise", this.selectedCategories);

        const token = this.$auth.$storage._state['_token.local']
        this.$axios.setHeader('Content-Type', 'application/json')
        this.$axios.setHeader('Authorization', token)
        this.$axios
          .post(`/upload`, sendData)
          .then(res => {
            console.log(res.data.result.data[0])
            console.log('type', typeof(res.data.result.data))

            this.ACTION_ADD(res.data.result.data[0]).then(value => {
              this.$refs.elDropZone.removeAllFiles()
              this.makeToast(
                'Success upload the documents, Please check the list..',
                'success'
              )
            })

          })
          .catch(e => console.log(e))
          this.selectedCategories = ''
          this.$bvModal.hide('modal-set-categories')
      }
    },
    downloadFile(id, type, oriName) {
      const token = this.$auth.$storage._state['_token.local']
      this.$axios.setHeader('Content-Type', 'application/json')
      this.$axios.setHeader('Accept', 'application/pdf')
      this.$axios.setHeader('Authorization', token)
      this.$axios({
        method: 'get',
        url: '/download/' + id,
        responseType: 'arraybuffer'
      })
        .then(response => {
          const url = window.URL.createObjectURL(new Blob([response.data]))
          const link = document.createElement('a')
          var tm = new Date().getTime()

          link.href = url
          link.setAttribute('download', tm + '_' + oriName + '.' + type)
          document.body.appendChild(link)
          link.click()
        })
        .catch(() => console.log('error occured'))
    },
    makeToast(text, type) {
      const dtext = text
        ? text
        : 'New Document was added, getting some document..'
      const config = {
        theme: 'outline',
        icon: text ? 'check' : 'sync',
        iconPack: 'fontawesome',
        position: 'top-right',
        duration: 5000
      }
      if (type === 'success') {
        this.$toasted.success(dtext, config)
      } else {
        this.$toasted.show(dtext, config)
      }
    },
    searchThis(){
        const token = this.$auth.$storage._state['_token.local']
        this.$axios.setHeader('Content-Type', 'application/json')
        this.$axios.setHeader('Authorization', token)
        this.$axios({
          method: 'get',
          url: '/documents/search/?_search=' + this.searchQuery,
          responseType: 'json'
        })
          .then(res => {

            this.listDocuments = []
            res.data.hits.hits.forEach(item => {
              item._source["highlight"] = item.highlight.file_content
              this.listDocuments.push(item._source)
            })
            
          })
          .catch(e => console.log('error occured'+e))
    },
    closeModal(){
      this.$refs.elDropZone.removeAllFiles()
      this.$bvModal.hide('modal-set-categories')
    },
    async setToState(){
      if(this.searchQuery == ''){
        console.log('default')
        this.listDocuments = await this.stateListDocuments
      } else {
        console.log('search')
        this.searchThis()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
h4 {
  padding: 20px 0px 10px;
}
.toasted-custom {
  top: 3% !important;
  right: 3% !important;
}
.eshighlight {
  span {
    font-size: 13px;
  }
}
</style>
