<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >

            <div class="text-muted text-center mb-3">
              <h4>Sign In</h4>
            </div>

            <div class="text-center text-muted mb-4">
              <small>please fill required credentials below to continue</small>
            </div>
            <b-alert
              :show="dismissCountDown"
              variant="danger"
              @dismissed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
            >
              <p>{{ msgtextLogin }} </p>
              <b-progress
                variant="danger"
                :max=10
                :value="dismissCountDown"
                height="4px"
              ></b-progress>
            </b-alert>
            <form role="form">
              <base-input
                class="mb-3 input-pl10"
                placeholder="Email"
                type="email"
                addon-left-icon="ni ni-email-83"
                v-model="login.email"
              >
              </base-input>
              <base-input
                alternative
                class="input-pl10"
                type="password"
                placeholder="Password"
                addon-left-icon="ni ni-lock-circle-open"
                v-model="login.password"
              >
              </base-input>
              <div class="text-center">
                <base-button type="primary" class="my-4" @click="dologin">Sign In</base-button>
              </div>
            </form>
  
        </card>
      </div>

      <div class="col-lg-5">
    <card
          type="secondary"
          shadow
          header-classes="bg-white pb-5"
          body-classes="px-lg-5 py-lg-5"
          class="border-0"
        >
          <template>
            <div class="text-muted text-center mb-3">
              <h4>Register</h4>
            </div>
          </template>
          <template>
            <div class="text-center text-muted mb-4">
              <small>Fill form below to create an acoount</small>
            </div>
            <b-alert
              :show="dismissCountDownReg"
              variant="danger"
              @dismissed="dismissCountDownReg=0"
              @dismiss-count-down="countDownChangedReg"
            >
              <p>{{ msgtextReg }} </p>
              <b-progress
                variant="danger"
                :max=10
                :value="dismissCountDownReg"
                height="4px"
              ></b-progress>
            </b-alert>
            <form role="form">
              <base-input
                alternative
                class="mb-3 input-pl10"
                placeholder="Name"
                type="text"
                addon-left-icon="ni ni-email-83"
                v-model="register.name"
              >
              </base-input>
              <base-input
                alternative
                class="mb-3 input-pl10"
                placeholder="Email"
                type="email"
                addon-left-icon="ni ni-email-83"
                v-model="register.email"
              >
              </base-input>
              <base-input
                alternative
                class="input-pl10"
                type="password"
                placeholder="Password"
                addon-left-icon="ni ni-lock-circle-open"
                v-model="register.password"
              >
              </base-input>
              <base-input
                alternative
                class="input-pl10"
                type="password"
                placeholder="Re enter password"
                addon-left-icon="ni ni-lock-circle-open"
                v-model="register.repassword"
              >
              </base-input>
              <div class="text-center">
                <base-button type="primary" class="my-4" @click="doregister">Register Now</base-button>
              </div>
            </form>
          </template>
        </card>
      </div>
    
    </div>
  </div>
</template>

<script>
import BootstrapVue from "bootstrap-vue"

export default {
  layout: 'main',
  auth: 'guest',
  data: function(){
    return {
      dismissCountDown: 0,
      dismissCountDownReg: 0,
      msgtextLogin: '',
      msgtextReg: '',
      auth: this.$route.query.auth,
      errors: [],
      login: {
        email: '',
        password: ''
      },
      register: {
        name: '',
        email: '',
        password: '',
        repassword: ''
      }
    }
  },
  methods: {
    async dologin() {
      if (this.validEmail(this.login.email) && this.login.email && this.login.password) {
        try {
          await this.$auth.loginWith('local', { data: this.login })
          this.tokenCheck()
        } catch (err) {
          // console.log(err.response.data)
          this.dismissCountDown = 10
          this.msgtextLogin = err.response.data.email ? err.response.data.email[0] : err.response.data.password ? err.response.data.password[0] : err.response.data.message
        }
      } else {
        this.errors = [];

        if (this.login.email === '') {
          this.errors += "Email required ! "
        }
        if (this.login.email !== '' && !this.validEmail(this.login.email)) {
          this.errors += "Enter valid email ! "
        }
        if (this.login.password === '') {
          this.errors += "Password required !"
        }

        this.dismissCountDown = 10
        this.msgtextLogin = this.errors
      }
    },
    async doregister() {
      if (this.validEmail(this.register.email) && this.register.email && this.register.password && this.register.repassword && this.register.password === this.register.repassword) {
        try {
          await this.$axios.post('register', {
            name: this.register.name,
            email: this.register.email,
            password: this.register.password,
            repassword: this.register.repassword
          })

          await this.$auth.loginWith('local', {
            data: {
              email: this.register.email,
              password: this.register.password
            },
          })
          this.tokenCheck()
        } catch (err) {
          // console.log(err.response.data)
          this.dismissCountDownReg = 10
          this.msgtextReg = err.response.data.email ? err.response.data.email[0] : err.response.data.password ? err.response.data.password[0] : err.response.data.repassword ? err.response.data.repassword[0] : err.response.data.message
        }
      } else {
        this.errors = [];

        if (this.register.name === '') {
          this.errors += "Name required ! "
        }
        if (this.register.email === '') {
          this.errors += "Email required ! "
        }
        if (this.register.email !== '' && !this.validEmail(this.register.email)) {
          this.errors += "Enter valid email ! "
        }
        if (this.register.password === '') {
          this.errors += "Password required ! "
        }
        if (this.register.repassword === '') {
          this.errors += "Retype password required !"
        }
        if (this.register.password !== this.register.repassword) {
          this.errors += "Retype password not same with password !"
        }

        this.dismissCountDownReg = 10
        this.msgtextReg = this.errors
      }

      
    },
    tokenCheck() {
      const token = this.$auth.$storage._state["_token.local"]
      // console.log(token)
      if (token !== undefined) {
        this.$router.push('/document')
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    countDownChangedReg(dismissCountDownReg) {
      this.dismissCountDownReg = dismissCountDownReg
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  },
  mounted: () => {
    // const token = this.$auth.$storage._state["_token.local"]
    // console.log(token)
  }
}
</script>

<style lang="scss" scoped>
.input-pl10 {
	.form-control {
		&:not(:first-child) {
		    padding-left: 10px;
		}
	}
}
</style>
