<template>
  <section class="container">
      <h3>Ola</h3>
    <ul>
      <li
        v-for="(list,i) in notif"
        :key="i"
      >
        {{ list.name }} : "{{ list.message }}
      </li>
    </ul>
  </section>
</template>
<script>
  export default {
    computed: {
      notif() {
        return this.$store.getters.getNotif
      },
    //   ...mapState({
    //         notif: state => {
    //             return state.pusherStore.notif;
    //         },
    //     }),
    },
  }
</script>

<style>

  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

</style>